html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.krug {
    height: 200px;
    width: 200px;
    border: 15px solid rgb(243, 2, 2);
    background-color: rgb(243, 2, 2);
    border-radius: 50%;
    animation: krug 2s infinite forwards;
    cursor: pointer;
    transition: background-color ease-in-out .25s
}


@keyframes krug {
    0% {
        border-color:  rgb(243, 2, 2);
        transform: scale(1);
    }
    15% {
        border-color: rgb(243, 239, 6);
        transform: scale(1.1);
    }
    25% {
        border-color: chartreuse;
        transform: scale(0.8);
    }
    35% {
        border-color:rgb(3, 252, 231);
        transform: scale(1.1);
    }
    50% {
        border-color:rgb(2, 27, 252);
        transform: scale(0.75);
        border-width: 40px;
    }
    60% {
        border-color:rgb(253, 236, 4);
        transform: scale(1);
    }
    70% {
        border-color:rgb(253, 4, 4);
        transform: scale(1.4);
    }
    80% {
        border-color:rgb(4, 195, 253);
        transform: scale(0.6);
    }
    90% {
        border-color:rgb(29, 4, 253);
        transform: scale(1.3);
    }
    100{
        border: rgb(243, 2, 2);
        transform: scale(1);
    }
}