/* 1 шаг */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    /* 10 шаг */
    transform: rotate(-35deg);
}

.container .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* width: 100%; */
    /* 9 шаг */
    width: calc(100% + 400px);
    /* 2 шаг */
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    /* 7 шаг */
    animation: animateSurface 1.5s ease-in-out infinite;
    /* 11 шаг */
    left: -200px;
}

/* 8 шаг */
@keyframes animateSurface {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}

.container .box .cube {
    position: relative;
    width: 200px;
    height: 200px;
    /* background: #ff14bd; */
    background: #03e9f4;
    box-shadow: 0 0 5px rgba(3, 233, 244, 1),
    0 0 25px rgba(3, 233, 244, 1),
    0 0 50px rgba(3, 233, 244, 1),
    0 0 100px rgba(3, 233, 244, 1),
    0 0 200px rgba(3, 233, 244, 0.5),
    0 0 300px rgba(3, 233, 244, 0.5);
    /* 3 шаг */
    animation: animate 1.5s ease-in-out infinite;
    /* 5 шаг */
    transform-origin: bottom right;

    border-radius: 2px;
}

/* 4 шаг */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    /* 6 шаг */
    65% {
        transform: rotate(85deg);
    }
    70% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(87.5deg);
    }
    80%, 100% {
        transform: rotate(90deg);
    }
}